$text-color: #FFF;
$second-color: #474747;
$bg-color: #F3F7EA;
$base-font: 16px;
$description-font: 25px;
$button-font: 20px;
$about-font: 30px;
$subtitle-font: 40px;
$family-font: 'Source Serif Pro';